DUCKDB_DATABASE=

LLM_API_BASE=
LLM_API_KEY=
LLM_MODEL=
LLM_BATCH_SIZE=1
LLM_MAX_CONCURRENT_REQUESTS=5
LLM_TIMEOUT=300

HF_TOKEN=

LABEL_STUDIO_API_KEY=e


WTAT_NATS_URL=

WTAT_DB_PATH=./warehouse.duckdb

WTAT_RAW_ROOT=./data/raw

WTAT_EXPORT_DIR=./data/exports

WTAT_MAX_EXTRACTON_ATTEMPTS=3
WTAT_IN_FLIGHT_TIMEOUT_MINUTES=60
WTAT_DB_BATCH_SIZE=50
